@media screen and (min-width: 1200px) {
    .searchbar {
        width: auto;
        form {
            width: 33vw;
        }
    }
    body {
        .card, &-lg {
            .card-img {
                height: 20em;  
            }
        }
    }
}