/*Variables*/
/*Fonts*/
/*Colors*/
/*Fonts size*/
/**Fonts**/
@font-face {
  font-family: "Domine";
  src: url("../assets/fonts/Domine-Regular.woff");
  font-display: swap;
}

@font-face {
  font-family: "Domine";
  src: url("../assets/fonts/Domine-Bold.woff");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.woff");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Bold.woff");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Italic.woff");
  font-style: italic;
  font-display: swap;
}

/*Animations*/
@-webkit-keyframes slide-right {
  from {
    -webkit-transform: translate(-250px, 0px);
            transform: translate(-250px, 0px);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}
@keyframes slide-right {
  from {
    -webkit-transform: translate(-250px, 0px);
            transform: translate(-250px, 0px);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@-webkit-keyframes slide-left {
  from {
    -webkit-transform: translate(250px, 0px);
            transform: translate(250px, 0px);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

@keyframes slide-left {
  from {
    -webkit-transform: translate(250px, 0px);
            transform: translate(250px, 0px);
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
}

/*Logo and slogan slide*/
.logo {
  -webkit-animation: slide-right 1s cubic-bezier(0, 0, 0.58, 0.58) 0.2s both;
          animation: slide-right 1s cubic-bezier(0, 0, 0.58, 0.58) 0.2s both;
}

.slogan {
  -webkit-animation: slide-left 1s cubic-bezier(0, 0, 0.58, 0.58) 0.2s both;
          animation: slide-left 1s cubic-bezier(0, 0, 0.58, 0.58) 0.2s both;
}

/*Links underlined when hover*/
.navbar-nav.col-lg-6 a, .login span, .contacts span, .about a, .follow span, .forum-block a {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.navbar-nav.col-lg-6 a:after, .login span:after, .contacts span:after, .about a:after, .follow span:after, .forum-block a:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 0.1em;
  bottom: 0;
  left: 0;
  background-color: #ddd;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.navbar-nav.col-lg-6 a:hover:after, .navbar-nav.col-lg-6 a[aria-current="page"]:after, .login span:hover:after, .login span[aria-current="page"]:after, .contacts span:hover:after, .contacts span[aria-current="page"]:after, .about a:hover:after, .about a[aria-current="page"]:after, .follow span:hover:after, .follow span[aria-current="page"]:after, .forum-block a:hover:after, .forum-block a[aria-current="page"]:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

/*Button scale up when hovered*/
.btn {
  -webkit-transition: background-color 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: background-color 0.2s ease-in, -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in, background-color 0.2s ease-in;
  transition: transform 0.2s ease-in, background-color 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.btn:hover {
  background-color: #213e69;
  -webkit-transform: scale(1.09);
          transform: scale(1.09);
}

/*General rules*/
body {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  background-color: #1E1E1E !important;
  color: #ddd !important;
  font-size: 0.8em !important;
  font-family: "Montserrat", sans-serif !important;
  line-height: 2em !important;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Domine", serif;
}

body h1, body .h1 {
  font-size: 3em;
  font-family: "Domine", serif;
}

body h2, body .h2 {
  font-size: 2.6em;
  font-family: "Domine", serif;
}

body h3, body .h3 {
  font-size: 2.2em;
  font-family: "Domine", serif;
}

body h4, body .h4 {
  font-size: 1.8em;
  font-family: "Domine", serif;
}

body h5, body .h5 {
  font-size: 1.4em;
  font-family: "Domine", serif;
}

body h6, body .h6 {
  font-size: 1.2em;
  font-family: "Domine", serif;
}

body .p-lg {
  font-size: 1.1em !important;
  font-family: "Montserrat", sans-serif !important;
}

body .p-md {
  font-size: 0.8em !important;
  font-family: "Montserrat", sans-serif !important;
}

body .p-sm, body small {
  font-size: 0.72em !important;
  font-family: "Montserrat", sans-serif !important;
}

body a {
  text-decoration: none;
}

body ul {
  list-style: none;
}

body input, body textarea {
  font-size: 0.8em !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

body .text-light, body a, body ::-webkit-input-placeholder {
  color: #ddd !important;
}

body .text-light, body a, body :-ms-input-placeholder {
  color: #ddd !important;
}

body .text-light, body a, body ::-ms-input-placeholder {
  color: #ddd !important;
}

body .text-light, body a, body ::placeholder {
  color: #ddd !important;
}

body .card-img-top {
  overflow: hidden !important;
  height: 16em !important;
}

body .card-img-top img {
  width: 100% !important;
  height: 100% !important;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

/*Backgrounds*/
.bg-primary {
  background-color: #452b17 !important;
}

.bg-secondary {
  background-color: #724b2f !important;
}

.bg-secondary-variant {
  background-color: #301b07 !important;
}

.bg-secondary-variant-transparent {
  background-color: #301b0744 !important;
}

.btn-primary {
  background-color: #294673 !important;
  color: #ddd;
  font-size: 0.8em !important;
  border-style: none !important;
  border-radius: 1.6em;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn-primary:hover {
  background-color: #213e69 !important;
}

.bg-body {
  background-color: #1E1E1E !important;
}

.bg-dark {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1E1E1E), to(#000)) !important;
  background-image: linear-gradient(#1E1E1E, #000) !important;
}

.bg-brown {
  background-image: linear-gradient(80deg, #301b0744, #301b07) !important;
}

@media (max-width: 768px) {
  .searchbar {
    background: rgba(0, 0, 0, 0) !important;
  }
  .searchbar form {
    background: rgba(0, 0, 0, 0) !important;
  }
  .searchbar form .search {
    background-color: #724b2f !important;
  }
}
/*# sourceMappingURL=main.css.map */