@import 'partials/variables', 'partials/fonts';

/*Animations*/
@keyframes slide-right {
    from {transform: translate(-250px, 0px);}
    to {transform: translate(0px, 0px);}
}
@keyframes slide-left {
    from {transform: translate(250px, 0px);}
    to {transform: translate(0px, 0px);}
}

/*Logo and slogan slide*/
.logo {
    animation: slide-right 1s cubic-bezier(0, 0, 0.58, 0.58) 0.2s both;
}
.slogan {
    animation: slide-left 1s cubic-bezier(0, 0, 0.58, 0.58) 0.2s both;
}

/*Links underlined when hover*/
.navbar-nav.col-lg-6 a, .login span, .contacts span, .about a, .follow span, .forum-block a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 0.1em;
        bottom: 0;
        left: 0;
        background-color: $text;
        transform-origin: bottom right;
        transition: transform 0.3s ease-out;
    }
    &:hover:after, &[aria-current="page"]:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

/*Button scale up when hovered*/
.btn {
    transition: transform 0.2s ease-in, background-color 0.2s ease-in;
    &:hover {
        background-color: $button-hover;
        transform: scale(1.09);
    }
}

/*General rules*/
body {
    box-sizing: border-box !important;
    background-color: $background !important;
    color: $text !important;
    font-size: $p-medium !important;
    font-family: $p-font, sans-serif !important;
    line-height: 2em !important;
    h1, h2, h3, h4, h5, h6 {
        font-family: $h-font, serif;
    }
    h1, .h1 {
        font-size: $h1;
        font-family: $h-font, serif;
    }
    h2, .h2 {
        font-size: $h2;
        font-family: $h-font, serif;
    }
    h3, .h3 {
        font-size: $h3;
        font-family: $h-font, serif;
    }
    h4, .h4 {
        font-size: $h4;
        font-family: $h-font, serif;
    }
    h5, .h5 {
        font-size: $h5;
        font-family: $h-font, serif;
    }
    h6, .h6 {
        font-size: $h6;
        font-family: $h-font, serif;
    }
    .p-lg {
        font-size: $p-large !important;
        font-family: $p-font, sans-serif !important;        
    }
    .p-md {
        font-size: $p-medium !important;
        font-family: $p-font, sans-serif !important;
    }
    .p-sm, small {
        font-size: $p-small !important;
        font-family: $p-font, sans-serif !important;
    }
    a {
        text-decoration: none;
    }
    ul {
        list-style: none;
    }
    input, textarea {
        font-size: $p-medium !important;
        box-shadow: none !important;
    }
    .text-light, a, ::placeholder {
        color: $text !important; 
    }
    .card-img-top {
        overflow: hidden !important;
        height: 16em !important; 
        img {
            width: 100% !important;
            height: 100% !important;
            object-fit: cover !important;
        }
    }
}

/*Backgrounds*/
.bg-primary {
    background-color: $primary !important;
}

.bg-secondary {
    background-color: $secondary !important;
}

.bg-secondary-variant {
    background-color: $secondary-variant !important;
}

.bg-secondary-variant-transparent {
    background-color: $secondary-variant-transparent !important;
}

.btn-primary {
    background-color: $button !important;
    color: $text;
    font-size: $p-medium !important;        
    border-style: none !important;
    border-radius: 1.6em;
    box-shadow: none !important;
    &:hover {
        background-color: $button-hover !important;
    }
}

.bg-body {
    background-color: $background !important;
}

.bg-dark {
    background-image: $gradient-black !important;
}

.bg-brown {
    background-image: $gradient-brown !important;
}

@media (max-width: 768px) {
    .searchbar {
        background: rgba($color: #000000, $alpha: 0) !important;
        form {
            .search {
                background-color: $secondary !important;
            }
            background: rgba($color: #000000, $alpha: 0) !important;
        }
    }
}
