/**Fonts**/
@font-face {
    font-family: "Domine";
    src: url("../assets/fonts/Domine-Regular.woff");
}

@font-face {
    font-family: "Domine";
    src: url("../assets/fonts/Domine-Bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Regular.woff");
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Italic.woff");
    font-style: italic;
}

/*Variables*/

/*Fonts*/
$h-font: "Domine";
$p-font: "Montserrat";

/*Colors*/
$primary: #452b17;
$secondary: #724b2f;
$secondary-variant: #301b07;
$secondary-variant-transparent: #301b0744;
$button: #294673;
$button-hover: #213e69;
$background: #1E1E1E;
$text: #ddd;
$black: #000;
$white: #fff;
$gradient-black: linear-gradient($background, $black);
$gradient-brown: linear-gradient(80deg, $secondary-variant-transparent, $secondary-variant);

/*Fonts size*/
$h1: 3em;
$h2: 2.6em;
$h3: 2.2em;
$h4: 1.8em;
$h5: 1.4em;
$h6: 1.2em; 
$p-large: 1.1em;
$p-medium: 0.8em;
$p-small: 0.72em;



/*General*/
body {
    box-sizing: border-box;
    background-color: $background;
    color: $text;
    font-size: $p-medium;
    font-family: $p-font;
    margin: 0px;
    line-height: 2em;

    h1, h2, h3, h4, h5, h6 {
        font-family: $h-font;
    }
    h1 {
        font-size: $h1;
    }
    h2 {
        font-size: $h2;
    }
    h3 {
        font-size: $h3;
    }
    h4 {
        font-size: $h4;
    }
    h5 {
        font-size: $h5;
    }
    h6 {
        font-size: $h6;
    }
    a {
        color: $text;
        text-decoration: none;
        &:hover, :active, :focus {
            color: white;
            text-decoration: underline;
        }
    }
    ul {
        list-style: none;
    }
    .button, button {
        background-color: $button;
        color: $text;
        border-color: $button;        
        border-style: none;
        border-radius: 1.6em;
        box-shadow: none;
        display: inline-block;
        padding: 0.6em 2.1em;
        &:hover {
            cursor: pointer;
            background-color: $button-hover;
            text-decoration: none;
        }
        &.button-lg {
            display: block;
            text-align: center;
        }
    }
    .card {
        box-sizing: border-box;
        background-image: $gradient-black;
        padding: 1.5em;
        margin: 0.5%;
        flex-basis: 32%;
        .tag {
            background-color: $primary;
            padding: 0.5em 1.4em;
            font-size: $p-small;
        }
        .card-img {
            width: auto;
            margin-top: 1.2em;
            overflow: hidden;
            height: 16em; 
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .card-body {
            display: flex;
            flex-direction: column;
            align-content: space-between;
            h3 {
                font-size: $h6;
                margin-bottom: 0.5em;
            }
            p {
                margin-bottom: 1em;
                text-align: justify;
                line-height: 1.8em;
                height: 7em;
                overflow: hidden;
            }
        }
        &-lg {
            @extend .card;
            flex-basis: calc(65%);
            .button-lg {
                margin: 0% 25%;
            }
        }
    }

    input, textarea {
        background-color: $secondary;
        border: none;
        color: $text;
        margin: 0em 1em ;
        &:active, &:focus {
            box-shadow: none;
            outline: none;
        }
    }
    ::placeholder {
        color: $text;
        opacity: 1;
        font-family: $p-font;
    }
}

header {
    background-color: $secondary;
}
.top-bar {
    display: flex;
    padding: 0em 1%;        
    justify-content: space-between;
    .logo {
        margin: 0.5em;
        width: fit-content;
        height: fit-content;
    }
    ul {
        display: flex;
        padding-left: 0em;
        align-items: center;
        justify-content: space-between;
        padding: 0em 2em;
        &.navbar {
            width: 40%;
        }
        &.login {
            width: 20%;
            p {
                margin-left: 0.5em;
                display: inline;
            }
        }
        li {
            padding: 0% 3%;
            font-size: $h6;
        }
    }
}

.banner {
    background-image: $gradient-brown;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    .slogan {
        line-height: 2em;
        margin: 0em;
    }
}

.searchbar {
    background-color: $secondary;
    padding: 0.5em 1em;
    form {
        display: flex;
        justify-content: space-between;       
        .search {
            display: flex;
        }
    }
    label {
        margin: 0em 1em;
        display: flex;
        align-items: center;
    }
}

/*Main*/
.wrapper {
    margin: 5%;
    display: flex;
    .content {
        section {
            display: flex;
            flex-direction: column;
            .section-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0.5em 2em;
            }
            .section-body {
                display: flex;
                flex-wrap: wrap;
            }
        }
        .tips-tricks {
            margin-top: 4em;
        }
    }
}

aside {
    margin-left: 4em;
    .sidebar:first-child {
        margin-top: 0em;
    }
}

.sidebar {
    background-image: $gradient-black;
    padding: 2em 1.5em;
    width: 16vw;
    margin-top: 4em;
    .sidebar-title {
        h2 {
            font-size: $h5;
            background-color: $secondary;
            padding: 0.3em;
            text-align: center;
        }
    }
    &.reactions {
        .comment-block {
            display: flex;
            flex-direction: column;
            margin-bottom: 2em;
            padding-top: 3em;
            .pseudo {
                font-size: $p-large;
                font-family: $h-font;
            }
            .forum-name {
                font-size: $p-small;
                margin-top: 0em;
            }
            .comment {
                line-height: 2em;
            }
            .button {
                margin-top: 1em;
                align-self: center;
                font-size: $p-small;
            }
        }
        .comment-block:first-child {
            padding-top: 2em;
        }
        .comment-block:last-child {
            margin-bottom: 1em;
        }
    }
    &.forums {
       display: flex;
       flex-direction: column;
       line-height: 2em;
       .forum-block {
           padding-top: 1em;
           h3 {
               font-size: $h6;
               margin-bottom: 0em;
           }
           ul {
               margin: 0.5em;
           }
       }

       .button {
           align-self: center;
           margin-top: 2em;
       } 
    }
    &.contact-form {
        form {
            .names, .mail, .message {
                label {
                    display: none;
                }
                input, textarea {
                    margin: 0.5em;
                    box-sizing: border-box;
                }
                input {
                    text-align: center;
                    padding: .8em .2em ;
                    
                }
                textarea {
                    padding: .5em;
                }
            }
            .names {
                display: flex;
                input {
                    width: 50%;
                }
            }
            #mail, #message {
                width: calc(100% - 1em);
            }
            .validate {
                display: flex;
                justify-content: center;
            }
        }
    }
}

footer {
    * {
        box-sizing: border-box;
    }
    background-color: $primary;
    padding: 3em;
    display: flex;
    flex-wrap: wrap;
    h3 {
        margin-bottom: 0em;
        font-size: $h4;
    }
    ul {
        padding-left: 0em;
        line-height: 3.5em;
    }
    i {
        padding-right: .8em;
    }
    .company {
        width: 30%;
        .newsletter {
            margin-top: 3em;
            div {
                width: fit-content;
                margin-top: 2em;
                display: flex;
                background-color: $secondary;
                padding: 0.4em 0.2em;
                input {
                    margin: .2em;
                }
            }
        }
    }
    .infos {
        width: 70%;
        display: flex;
        justify-content: space-between;
        padding: 0em 2em;
    }
    .copyright {
        display: flex;
        justify-content: right;
        width: 100%;
        small {
            padding: 2em 2em 1em 1em;
        }
    }
}
