/**Fonts**/
@font-face {
    font-family: "Domine";
    src: url("../assets/fonts/Domine-Regular.woff");
}

@font-face {
    font-family: "Domine";
    src: url("../assets/fonts/Domine-Bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Regular.woff");
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url("../assets/fonts/Montserrat-Italic.woff");
    font-style: italic;
}

/*Variables*/

/*Fonts*/
$h-font: "Domine";
$p-font: "Montserrat";

/*Colors*/
$primary: #452b17;
$secondary: #724b2f;
$secondary-variant: #301b07;
$secondary-variant-transparent: #301b0744;
$button: #294673;
$button-hover: #213e69;
$background: #1E1E1E;
$text: #ddd;
$black: #000;
$white: #fff;
$gradient-black: linear-gradient($background, $black);
$gradient-brown: linear-gradient(80deg, $secondary-variant-transparent, $secondary-variant);

/*Fonts size*/
$h1: 3em;
$h2: 2.6em;
$h3: 2.2em;
$h4: 1.8em;
$h5: 1.4em;
$h6: 1.2em; 
$p-large: 1em;
$p-medium: 0.8em;
$p-small: 0.6em;



/*General*/
body {
    box-sizing: border-box;
    background-color: $background;
    color: $text;
    font-size: $p-medium;
    font-family: $p-font;
    margin: 0px;

    h1, h2, h3, h4, h5, h6 {
        font-family: $h-font;
    }
    h1 {
        font-size: $h1;
    }
    h2 {
        font-size: $h2;
    }
    h3 {
        font-size: $h3;
    }
    h4 {
        font-size: $h4;
    }
    h5 {
        font-size: $h5;
    }
    h6 {
        font-size: $h6;
    }
    a {
        color: $text;
        text-decoration: none;
        &:hover, :active, :focus {
            color: white;
            text-decoration: underline;
        }
    }
    .button {
        background-color: $button;
        color: $text;
        border-color: $button;        
        border-style: none;
        border-radius: 8px;
        box-shadow: none;
        padding: 10px 20px;
        &:hover {
            cursor: pointer;
            background-color: $button-hover;
        }
    }
    .card {
        background-image: $gradient-black;
        padding: 1.5em;
        margin: 0.5em;
        flex-basis: 33%;
        .tag {
            background-color: $primary;
            padding: 0.5em 1.4em;
        }
        .card-img {
            width: auto;
            margin-top: 1.2em;
            overflow: hidden;
            height: 15rem; 
            img {
                width: 100%;
                height: auto;
            }
        }
        h3 {
            font-size: $h5;
        }
    }
    .card-large {
        flex-basis: calc(66% + 4em);
    }
}

/*Header*/
header {
    background-color: $secondary;
}
.top-bar {
    display: flex;
    padding: 1%;        
    justify-content: space-between;
    .logo {
        margin: 1%;
        width: fit-content;
        height: fit-content;
    }
    ul {
        display: flex;
        list-style: none;
        padding-left: 0px;
        align-items: center;
        justify-content: space-between;
        padding: 0em 2em;
        &.navbar {
            width: 40%;
        }
        &.login {
            width: 20%;
            p {
                margin-left: 6px;
                display: inline;
            }
        }
        li {
            padding: 0% 3%;
            font-size: $h6;
        }
    }
}

.banner {
    background-image: $gradient-brown;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    .slogan {
        line-height: 2em;
    }
}

.searchbar {
    background-color: $secondary;
    padding: 0.5em 1em;
    form {
        display: flex;
        justify-content: space-between;       
        .search {
            display: flex;
        }
    }
    #search {
        background-color: $secondary;
        border: none;
        color: $text;
        margin: 0em 1em ;
        &:active, &:focus {
            box-shadow: none;
            outline: none;
        }
    }
    label {
        margin: 0em 1em;
        display: flex;
        align-items: center;
    }
}

/*Main*/
.wrapper {
    margin: 5%;
    display: flex;
    .content {
        padding-right: 4%;
        section {
            display: flex;
            flex-direction: column;
            .section-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .section-body {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}


